extends layout

append meta
    meta(name="description", content="Barbora is a kind, loving, smart, fully capable woman that (sometimes) needs to be reminded of how great she is.")

block title
    title Hi Barbora!

block content
    h3 Hi Barbora!
    h5 I like your face.
    p I like your face because it's cute and when I look at you I feel happy and loved and... you're amazing. Thank you for being mine. L'ubim t'a.
    button Not Barbora?
        
