extends layout

append meta
    meta(name="description", content="Barbora is a kind, loving, smart, fully capable woman that (sometimes) needs to be reminded of how great she is.")

block title
    title Hi Barbora!

block content
    main
        h5 Hi Barbora!
        h6 
            a
        p
        button Not Barbora?
        
