<!DOCTYPE html>
html(lang="en")
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block stylesheets
        block title
    body
        block content
        block scripts
        //include firebase scripts