doctype html
html
    head
        block meta
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block stylesheets
            link(rel="stylesheet", href="stylesheets/style.css")
        block title

    body
        block content
        block scripts
            script(src="javascripts/jquery.min.js")
            script(src="javascripts/main.js")
            
